extends layout

block content
	img.img-circle(src=e.logo ? e.logo : 'http://dummyimage.com/90/#ccc/fff.png')

	h1= e.nome
		a.btn.btn-primary(href='/empresas/#{e._id}/editar') Editar

	ul.empresa-info
		if e.link
			li <strong>Site:</strong> 
				a(href=e.link) Visitar site

		if e.telefone
			li <strong>Telefone:</strong> #{e.telefone}

	h2 Senhas
		a.btn.btn-success(href='/empresas/#{e._id}/senhas/nova') Nova Senha

	if senhas.length
		table.table
			thead
				tr
					th Nome
					th Link
					th Tipo
					th Login
					th Senha
					th Opções
			tbody
				for senha in senhas
					tr
						td= senha.nome
						td
							if senha.link
								a(href=senha.link) Link
							else
								'-'
						td= senha.type
						td= senha.login
						td= senha.password
						td
							a.btn.btn-success(href='/empresas/#{e._id}') Ver/Editar
							a.btn.btn-danger(href='#') Excluir

	else
		p Nenhuma senha cadastrada.